@media (max-width:1100px) {
    .container {
        width: 100%;
    }
    .lists {
        padding: 0;
    }
    .logo {
        margin: 10px 0 10px 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;
    }
    .main {
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media (max-width:600px) {
    .container {
        grid-template: 150px auto 30px / auto;
    }
    /* start header */
    .header {
        height: auto;
    }
    .logo-image {
        max-width: 100%;
    }
    .mobile-lists {
        display: block;
        background-image: linear-gradient(to top, black, #353535);
        padding: 10px;
    }
    .mobile-lists>div {
        height: 2px;
        width: 30px;
        background-color: white;
        margin: 5px 0;
    }
    .lists {
        border-top: 0;
        border-bottom: 0;
        padding: 0 0;
        grid-template-columns: 100%;
        grid-auto-flow: row;
        display: none;
        background-image: none;
        background-color: black;
        z-index: 1000;
    }
    .list.active {
        background-image: none;
    }
    /* header header */
    /* start main */
    .main {
        display: block;
    }
    .right-logo {
        display: none;
    }
    /* start main content */
    /* end main content */
    /* end main */
    /* start footer */
    .footer {
        height: 30px;
        width: 100%;
        margin: 0;
        padding: 0 10px;
        background-image: linear-gradient(to top, #353535, #7B7C7C);
        border-top: 2px solid #2B2C2C;
    }
    /* end footer */
}