/* start general */

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    color: #888888;
}

a {
    text-decoration: underline;
}

a:link {
    color: #888888;
}

a:visited {
    color: #888888;
}

a:hover {
    color: #888888;
}

a:active {
    color: #888888;
}

/* end general */

/* start container */

.container {
    margin: auto;
    width: 1000px;
    min-height: 100vh;
    /* display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap; */
    display: grid;
    /* grid-template-columns: 1; */
    /* grid-template-rows: 3; */
    grid-template: 150px 1fr 30px / auto;
    grid-auto-flow: column;
}

/* end container */

/* start header */

.header {
    height: 150px;
}

/* start logo */

.logo {
    margin: 40px 0 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* end logo */

/* start menu */

.menu {
    width: 100%;
    margin: 0;
    padding: 0;
}

.mobile-lists {
    cursor: pointer;
    display: none;
}

.lists {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    width: 100%;
    margin: 0;
    padding: 0 0px;
    background-image: linear-gradient(to top, #353535, #7B7C7C);
    list-style-type: none;
    border-top: 2px solid #2B2C2C;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 20%;
    grid-auto-flow: column;
}

.list {
    text-align: center;
    display: inline-block;
    padding: 12px 0;
}

.list.active {
    background-image: linear-gradient(to top, black, #353535);
}

.list-link {
    text-decoration: none;
}

.list-link:link {
    color: white;
}

.list-link:visited {
    color: white;
}

.list-link:hover {
    color: white;
}

.list-link:active {
    color: white;
}

/* end menu */

/* end header */

/* start main */

.main {
    display: flex;
    justify-content: space-between;
    /* grid-template: auto / 1fr minmax(0px, 193px); */
    /* grid-auto-columns: auto; */
}

.main-content {
    width: 100%;
}

.right-logo {
    width: 193px;
}

/* start main content */

/* end main content */

/* end main */

/* start footer */

.footer {
    height: 30px;
    width: 100%;
    margin: 0;
    padding: 0 10px;
    background-image: linear-gradient(to top, #353535, #7B7C7C);
    border-top: 2px solid #2B2C2C;
}

/* end footer */

/* start tooltip */

.tooltip {
    position: relative;
    display: inline-block;
    /* border-bottom: 1px dotted black; */
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -60px;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

/* end tooltip */